# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
env/
venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3

# Celery beat schedule
celerybeat-schedule

# Local settings
local_settings.py

# VSCode and system files
.vscode/
.DS_Store
